<div th:fragment="sbdk">
   <table id="sbdk" title="上班打卡" class="easyui-datagrid" style="width:100%;height:500px"
            url=""   singleSelect='false'   collapsible='true'
            fitColumns="true"  rownumbers="false" striped="true" >
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th  hidden="true" field="dk_id" style="display:none;" width="50"></th>
                <th field="dk_name" width="50">打卡人姓名</th>
                <th field="dk_depart" width="50">打卡人部门</th>
                <th field="dk_kssj" width="50">上班打卡</th>
                <th field="dk_jssj" width="50">下班打卡</th>
            </tr>
        </thead>
        <a href="#" class="btn btn-primary register" onclick="sbdk()">上班打卡</a>&nbsp;&nbsp; 
	    <a href="#"	class="btn btn-primary register" onclick="xbdk()">下班打卡</a>
    </table>
</div>