<div th:fragment="include_css">
    <div class="include_css">
        <!--  bootstrap css  -->
        <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap-theme.min.css}">
         <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrapValidator.min.css}">
        <!-- easyui css -->
       <link rel="stylesheet" type="text/css" th:href="@{easyui/themes/default/easyui.css}"> 
       <link rel="stylesheet" type="text/css" th:href="@{easyui/themes/icon.css}">
       <link rel="stylesheet" type="text/css" th:href="@{easyui/themes/color.css}">
       <link rel="stylesheet" type="text/css" th:href="@{easyui/demo/demo.css}">
       <!--layui css  -->
        <link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}">
       <!-- 自定义css -->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/style/login.css}"> -->
    </div>
</div>
 