<div th:fragment="indclude_js">
    <div class="indclude_js">
<!--       <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script> -->
       <script type="text/javascript" th:src="@{js/jquery.min.js}" ></script>
       <!-- bootstrap js -->
       <script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}" ></script>
       <script type="text/javascript" th:src="@{bootstrap/js/bootstrapValidator.min.js}" ></script>
      <!--  easyui js -->
      <script type="text/javascript" th:src="@{easyui/jquery.min.js}"></script>
      <script type="text/javascript" th:src="@{easyui/jquery.easyui.min.js}"></script>
      <script type="text/javascript" th:src="@{easyui/locale/easyui-lang-zh_CN.js}"></script>
      <!--加密的js  -->
      <script type="text/javascript" th:src="@{js/jquery.base64.js}"></script>
      <!--layui js  -->
      <script type="text/javascript" th:src="@{layui/layui.all.js}"></script>
      <!-- vue -->
      
      <!-- 自定义技js -->
<!--       <script type="text/javascript" th:src="@{/js/login.js}"></script> -->
    </div>
 </div>