<div th:fragment="wdtx"  >
    <table id="wdtx" title="我的提醒" class="easyui-datagrid" style="width:100%;height:500px"
            url="" toolbar="#toolbar" pagination="true" singleSelect='false'   collapsible='true'
            fitColumns="true"  rownumbers="false" striped="true" >
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th  hidden="true" field="wt_id" style="display:none;" width="50"></th>
                <th field="fbr" width="50">发布人</th>
                <th field="zdr" width="50">指定人</th>
                <th field="shixiang" width="50">事项</th>
                <th field="laiyuan" width="50">来源</th>
                <th field="riqi" width="50">日期</th>
                <th field="status" width="50" hidden="true" id="wstxstatus" >状态</th>
                <th field="stadec" width="50" id="wstxstatus" >状态</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newWdtx()">新建 </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editWdtx()">编辑 </a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="qrWdtx()">确认</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyWdtx()">删除</a>
        <input name="wdtxfield"  class="easyui-textbox" placeholder="请输入查询条件" >
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="searchWdtx()"></a>
    </div>
    
    <div id="wdtxdlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
        <form id="wdtxfm" method="post" novalidate style="margin:0;padding:20px 50px">
	          <table class="maintable">
	             <tr>
	                <td>发布人:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input  id ="fbr"name="fbr" readonly="" class="easyui-combobox" required="true"
	                       data-options="
							url:'/ENOS/wdtx/getUserName',
							method:'post',
							valueField:'name',
							textField:'name',
							editable:false,
							panelHeight:'200' ,async:false " 
	                       label="发布人:" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	             <tr>
	                <td>指定人:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input  id="zdr" name="zdr"  class="easyui-combobox" required="true"
	                       data-options="
							url:'/ENOS/wdtx/getUserName',
							method:'post',
							valueField:'name',
							textField:'name',
							editable:false,
							panelHeight:'200' ,async:false " 
	                       label="指定人:" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	              <tr>
	                <td>事项:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input name="shixiang" class="easyui-textbox" required="true" label="事项:" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	             <tr>
	                <td>来源:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                   <input   name="laiyuan"  class="easyui-combobox" required="true"
	                       data-options="
							url:'/ENOS/wdtx/getDepart',
							method:'post',
							valueField:'d_name',
							textField:'d_name',
						    editable:false,
							panelHeight:'200' ,async:false " 
	                       label="来源:" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	             <tr>
	                <td>日期:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input name="riqi" class="form-control"   placeholder="请选择日期"  required="true" label="日期:" id="riqi" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	              <tr hidden="true">
	                <td>状态:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input name="status" class="form-control" label="状态:" id=" status" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	              <tr hidden="true">
	                <td>状态描述:</td>
	                <td>
	                  <div style="margin-bottom:10px">
	                      <input name="stadec" class="form-control"  label="转态描述:" id="stadec" style="width:100%">
	                  </div>
	                </td>
	             </tr>
	          </table>  
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveWdtx()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#wdtxdlg').dialog('close')" style="width:90px">取消</a>
    </div>
</div>
